body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #0d1a33;
  color: #ffffff;
  text-align: center;
  height: 100vh;
  display: flex;
  /* Centraliza o conteúdo usando Flexbox */
  justify-content: center;
  /* Alinha o conteúdo horizontalmente */
  align-items: center;
  /* Alinha o conteúdo verticalmente */
}

.container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #2a3d67, #1e325a);
  /* Aplica um gradiente elegante de azul no fundo */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  /* Adiciona uma sombra suave ao redor para profundidade */
  transition: background-color 0.3s ease-in-out;
  /* Cria uma animação suave ao alterar a cor de fundo */
}